.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.homeBlogs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeader {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}